section#home {
    display: flex;
    align-items: center;
    justify-content: center;

    div.wrap {
        background-color: #989898;
        min-height: 100vh;
        width: 375px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #logo {
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                padding: 4px;
                border: 3px solid #ececec;
            }
        }
    }
}